<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Stock Flocker
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/dashboard">Dashboard</a>
        <a class="navbar-item" href="/login">Log In</a>
        <a class="navbar-item" href="/register">Register</a>
      </div>
    </div>
  </div>
</nav>
