<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item title is 1" href="/">
        Stock Flocker
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">Home</a> {{! This should not display when logged in. }}
        <a class="navbar-item" href="/dashboard">Dashboard</a>
        {{#if logInStatus}}
          <a class="navbar-item" href="/logout">Log Out</a>
        {{else}}
        <a class="navbar-item" href="/login">Log In</a>
        <a class="navbar-item" href="/register">Register</a> {{! This should not display when logged in. }}
        {{/if}}
      </div>
    </div>
  </div>
</nav>
