<section class="section">
  <div class="container">
    <h1 class="title">Register for Stock Flocker</h1>
    <form action="/register" method="post" class="box">
      <div class="field">
        <label class="label" for="username">Username</label>
        <div class="control">
          <input class="input" type="text" id="username" name="username" required>
        </div>
      </div>
      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input class="input" type="email" id="email" name="email" required>
        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
          <input class="input" type="password" id="password" name="password" required>
        </div>
      </div>
      <div class="field">
        <label class="label" for="password-confirm">Confirm Password</label>
        <div class="control">
          <input class="input" type="password" id="password-confirm" name="password-confirm" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link">Register</button>
        </div>
      </div>
    </form>
  </div>
</section>
