<header>
    <div class="container">
        <h1><a href="/">Stock Flocker</a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
        </nav>
    </div>
</header>
